ul {
    margin: 0;
    padding: 0;
}

.content li {
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.322);
    margin: 10px 0px;
    /* width: 300px; */
}

li {
    list-style-type: none;
}

li:nth-child(odd) {
    background-color: rgba(238, 238, 238, 0.555);
}